.book-info {
    display: flex;
    justify-content: space-between;
    gap: 60px
}

.sticky-panel {
    width: 40%;
    animation: show 0.5s ease-in-out;
}

@keyframes show {
    from {
        opacity: 0.5;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }

}

.book-info-content {
    width: calc(60% - 60px);
}