.fill-necessary-info-digital-book {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
}

.fill-necessary-info-digital-book > input,
.fill-necessary-info-digital-book > select,
.fill-necessary-info-digital-book > textarea,
.fill-necessary-info-digital-book > label {
    height: 32px;
    border-radius: 10px;
    border: 1px solid rgba(220, 221, 225,1.0);
    outline: none;
    padding: 0 15px;
    font-size: 14px;
}

.fill-necessary-info-digital-book > label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fill-necessary-info-digital-book > label span {
    font-weight: 400;
    color: #777;
}

.fill-necessary-info-digital-book > label input {
    background: red;
}

.fill-necessary-info-digital-book > textarea {
    height: 64px;
    padding: 10px 15px;
}

.fill-necessary-info-digital-book > button {
    margin-top: 20px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgba(39, 174, 96, 1.0);
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.fill-necessary-info-digital-book > button:hover {
    background: rgba(39, 174, 96, 0.9);
}