.first-in-the-cart {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border-radius: 10px;
    border: none;
    background: rgba(39, 174, 96, 1.0);
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

.first-in-the-cart:hover {
    background: rgba(39, 174, 96, 0.9);
}