.header {
    height: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    border-radius: 10px;

    position: sticky;
    top: 20px;
    z-index: 100;
    background-color: #fff;
}

.header > a:first-child {
    background-image: url("../../static/img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.line {
    position: relative;
    display: flex;
}

.line::after {
    content: "";
    position: absolute;
    left: -40px;
    top: -25%;
    width: 1px;
    height: 150%;
    background: #ccc;
}

.header > a:first-child:hover {
    border-bottom: none;
}

.header a {
    color: #444;
    text-decoration: none;
    animation: show 0.5s ease-in-out;
}

@keyframes show {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.cart {
    position: relative;
}

.cart svg:not(.no-absolute) {
    position: absolute;
    bottom: -2px;
    right: -7px;
    background-color: goldenrod;
    border-radius: 50%;
    animation: show 0.2s ease-in-out;
}

.cart-length {
    position: absolute;
    bottom: 0;
    right: -5px;
    background-color: goldenrod;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: show 0.2s ease-in-out;
}
