.remove-all {
    background-image: url("../img/trash.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.remove-all:hover {
    background-image: url("../img/trash-active.svg");
}